.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: linear-gradient(to right, rgb(137, 137, 255), rgb(255, 152, 241));
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #334152;
  font-size: 7rem;
  color: #ffdd00;
}

p {
  font-size: 2rem;
  margin: 1rem;
  color: #000000;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  margin-top: 1rem;
}